.site-nav-module__3sVgp {
  background: #333;
  color: #fff;
}

.site-nav-inner-wrapper__3IKWQ {
  padding: 2rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: large-breakpoint) {
  .site-nav-inner-wrapper__3IKWQ {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: medium-breakpoint) and (max-width: large-breakpoint) {
  .site-nav-inner-wrapper__3IKWQ {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: medium-breakpoint) {
  .site-nav-inner-wrapper__3IKWQ {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.site-nav-branding__1IBOT {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav-branding__1IBOT:hover {
  color: #31b7c3;
}

.site-nav-menu__2LLdC {
  display: block;
  padding: 0;
  margin: 0;
}

.site-nav-menu__2LLdC li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: .5rem;
}

.site-nav-menu__2LLdC li:last-child {
  margin-right: 0;
}

.site-nav-menu__2LLdC a {
  color: #fff;
  font-size: .8rem;
  line-height: .8rem;
  padding: 5px;
  text-decoration: none;
}

.site-nav-menu__2LLdC a:hover {
  background: #31b7c3;
  border-radius: 2px;
  color: #fff;
}

.site-nav-menu__2LLdC .site-nav-active-link__1NzVW {
  color: #31b7c3;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utils-module__3seXH {
  display: block;
}

.utils-flex-spacer__16E6p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.home-content__2t-Ey {
  display: block;
}

.home-inner-wrapper__3wXf0 {
  padding: 2rem 6rem;
}

@media screen and (min-width: large-breakpoint) {
  .home-inner-wrapper__3wXf0 {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: medium-breakpoint) and (max-width: large-breakpoint) {
  .home-inner-wrapper__3wXf0 {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: medium-breakpoint) {
  .home-inner-wrapper__3wXf0 {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}