<nav class="mdl-navigation <%= className('site-nav', 'module') %>">
  {% for p in site.pages %}
    {% if p.url != '/feed.xml' and p.url != '/' %}
    <a href="{{ p.url }}" class="mdl-navigation__link {% if p.url == page.url %}<%= className('site-nav', 'active-link') %>{% endif %}">
      {{ p.title }}
    </a>
    {% endif %}
  {% endfor %}
</nav>
