doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title LandLock Developer's Blog
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/main.css')

    script(src='//use.typekit.net/zmx7art.js')
    script try{Typekit.load();}catch(e){}
  body
    header
      section
        h1 Scott Nesham
    section
      main
        article
          h1 Hello, World!
          p This is my first post. I guess it's not so much a post as a placeholder.
      aside
        div.widget
          h2 What's this?
          p Part blog, part sandbox, all awesome