<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--{{include.size}}-col ad-module-event__3IrC2">
  <div class="mdl-card__title mdl-card--expand ad-title__s5pii">
    <h4>
      Featured event:<br>
      May 24, 2016<br>
      7-11pm
    </h4>
  </div>
  <div class="mdl-card__actions mdl-card--border ad-actions__3AxIH">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ad-button__13qOO">
      Add to Calendar
    </a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons ad-material-icons__1QmUp">event</i>
  </div>
</div>
