{% if include.theme %}
  {% assign handle = include.theme %}
  {% if handle == 'post' %}
    <header class="mdl-layout__header mdl-layout__header--waterfall page-header-post__3ZFzD">
  {% elsif handle == 'post-red' %}
    <header class="mdl-layout__header mdl-layout__header--waterfall page-header-post-red__3OOGd">
  {% endif %}
{% else %}
  <header class="mdl-layout__header mdl-layout__header--waterfall page-header-module__2j4y9">
{% endif %}
  <div class="mdl-layout__header-row">
    <a href="/" class="mdl-layout-title page-header-branding__2iJ7n">{{ site.title }}</a>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon"
              for="waterfall-exp">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" name="sample"
                id="waterfall-exp">
      </div>
    </div>
  </div>
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      {% include site-nav.html %}
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer ">
  <span class="mdl-layout-title">{{ site.title }}</span>
  {% include site-nav.html %}
</div>
