@import '../lib/main.css';

@value space-from-date: 20px;

.main {
  min-height: 80%;
}

.layout {
  display: block;
}

.post {
  display: flex;
  overflow: auto;
  margin: 8px auto;
  max-width: 70rem;
  padding: 20px;
}

.post-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: right;

  a {
    color: dark-gray;
  }
}

.title {
  margin: 0;
  padding: 0;

  a {
    color: dark-gray;
    text-decoration: none;
  }

}


.categories {
  color: light-gray;
}

.category {
  font-style: italic;

  &:after {
    content: ",";
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

.detail {
  display: block;
  flex: 1;
  padding-left: space-from-date;
  border-left: 3px solid blue;
}


.date {
  background: #e1e1e1;
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-right: space-from-date;
  min-width: 80px;
  padding: 10px;
  text-transform: uppercase;
}
