@import '../lib/main.css';

.layout {

}

.inner-wrapper {
  max-width: 1124px;
  height: auto;
  min-height: 70vh;
}


.main {
  margin: 0;
}

.cards {
  > * {
    @mixin small {
      display: block;
      width: 100%;
    }
  }
}
