section{
	@include outer-container;
}
main{
	@include span-columns(8);
	padding: 1em;
}
aside{
	@include span-columns(4);
	padding: 1em;
}
@include media($bass-max){
	main{
		@include span-columns(12);
		padding: 1em;
	}
	aside{
		@include span-columns(12);
		padding: 1em;
	}
}