---
layout: blog
---
<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <!-- Uses a header that contracts as the page scrolls down. -->
    <div class="mdl-layout mdl-js-layout">
      {% include page-header.html%}
      <div class="mdl-layout__content">
        <main class="mdl-grid <%= className('blog', 'main') %>">
          {% for post in site.posts %}
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small></p>
            </div>
          {% endfor %}
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
