---
layout: home
---
<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    {% include site-nav.html %}
    <section class="<%= className('home', 'content') %>">
      <div class="<%= className('home', 'inner-wrapper') %>">
        {{ content }}
      </div>
    </section>
  </body>
</html>
