@import '../lib/main.css';

.module {
  color: #fff;
}


.inner {

}

.branding {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #31b7c3;
  }
}

/* variants */
.post {
  background: blue;
}

.post-red {
  background: red;
}
